body {
    font-family: "Source Sans 3", serif !important;
    color: #F2F2F2 !important;
    left: 68px;
    right: 68px;
    position: absolute;
}

.pointer {
    cursor: pointer;
}

/* colors */
.orange {
    background-color: #F77219;
}

.white {
    background-color: #F2F2F2;
}

.grey {
    background-color: #a5a5a5;
}

.black {
    background-color: #070614;
}

.text-black {
    color: #070614;
}

/* font*/
.title-24 {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-family: "Montserrat", serif;
}

.text-16 {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.text-12 {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.bold {
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* hiza */
.hiza-a {
    align-items: center;
    display: flex;
}

.hiza-j {
    display: flex;
    justify-content: center;
}

/* header */

.hide {
    display: flex;
}


.logo {
    width: 175.48px;
    height: 32px;
    /* height: 100%;
    width: 100%; */
    top: 42px;
    left: 42px;
}

.gradient-border {
    position: relative;
    width: 468px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(174deg, white -205%, #070614 86%);
    padding: 5px;
    box-shadow: inset 6px 6px 9px 0px #aba4a4b0;

}

.gradient-border::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(45deg, #fffafa -172%, #070614 67%);
    z-index: -1;
}

.lg-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-boyut {
    width: 19px;
    height: 20px;
}

.icon-boyut1 {
    width: 17px;
    height: 18px;
}

.orange-border {
    border: 2px solid #F77219;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset -4px -1px 7px 0px rgba(0, 0, 0, 0.5);
}

.bottom-border {
    border-bottom: 2px solid #a5a5a5;
    padding: 5px;
    width: 20px;
}

.exit {
    display: flex;
}

/* main */
.grey-border {
    position: relative;
    border: 2px solid #a5a5a563;
    border-radius: 16px;
    height: auto;
    padding: 10px;
}

/* banner */
.inside-nav {
    display: block;
}

.banner {
    position: relative;
    width: 100%;
    height: 338px;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    border: 1px solid #a5a5a5;
    border-radius: 15px;
}

.overlay-content {
    padding: 10px;
    position: relative;
    z-index: 1;
    height: 338px;
    display: grid;
}

.up {
    display: flex;
    justify-content: end;
}

.date {
    background: #F77219;
    width: fit-content;
    border-radius: 6px;
    padding: 8px;
    color: #070614;
}

.add-button {
    background: #F77219;
    width: 32px;
    border-radius: 6px;
    padding: 8px;
    color: #070614;
    height: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.add-button img {
    height: 12px;
}

.presenter-img {
    border-radius: 6px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: end;
    z-index: 1;
    position: relative;
}

.presenter-img img {
    object-fit: cover;
    overflow: hidden;
    border-radius: inherit;
    z-index: 3;
    border: #F77219 1px solid;
}

.presenter-name {
    background: #F77219;
    width: max-content;
    border-radius: 0px 6px 6px 6px;
    color: #070614;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 3px 3px 3px 33px;
    z-index: 0;
    position: absolute;
}

/* meet */
.border-meet {
    width: 157px;
    height: 40px;
    border-radius: 7px;
    display: grid;
    align-items: center;
}

.image-meet {
    width: 22px;
    height: auto;
}

.image-meet img {
    width: 100%;
    height: 100%;
}

.about {
    display: flex;
    align-items: center;
    gap: 10px;
}

.egitmen {
    width: 176px;
    height: 176px;
    position: relative;
    display: grid;
    padding: 10px;
    border: #F77219 3px solid;
    border-radius: 10px;
}

.img-egitmen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.social {
    position: relative;
    align-items: end;
    display: flex;
    gap: 5px;
}

/* aside */
.aside-border {
    position: relative;
    border-radius: 16px;
    height: auto;
    padding: 10px;
    background: #070614;
}

.aside-border::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(181deg, #a5a5a563 93%, #070614 100%);
    z-index: -1;
}

.aside-border2 {
    position: relative;
    border: 2px solid #a5a5a563;
    border-radius: 16px;
    height: auto;
    padding: 10px;
    border-bottom: 2px solid #070614;
    background: #070614;
}

.aside-border2::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(181deg, #a5a5a563 75%, #070614 108%);
    z-index: -3;
}

.up-aside {
    display: flex;
    justify-content: end;
}

.aside-date {
    background: #F77219;
    width: fit-content;
    border-radius: 6px;
    padding: 8px;
    color: #070614;
}

.aside-add-button {
    background: #F77219;
    width: 32px;
    border-radius: 6px;
    padding: 8px;
    color: #070614;
    height: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
}



/* footer */
.mobile-nav {
    display: none;

    
}

.little-banner {
    height: 171px;
}

.little-banner-img {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
    border: 1px solid #a5a5a5;
    border-radius: 15px;
}

.little-overlay-content {
    padding: 10px;
    position: relative;
    z-index: 1;
    height: 171px;
    display: grid;
}

.little-date {
    background: #F77219;
    width: fit-content;
    border-radius: 6px;
    padding: 3px 10px;
    color: #070614;
}

.show {
    display: none;
}

/* responsive */
@media (max-width:881px) {
    .logo {
        width: 148.48px;
    }
}

@media (max-width:768px) {
    .mobile-nav {
        display: flex;
        bottom: 2px;
        position: sticky;
        z-index: 5;
    }

    .hide {
        display: none;


    }

    .logo-cont {
        width: 36px;
        height: 36px;
    }

    .logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        cursor: pointer;
    }

    body {
        left: 16px;
        right: 16px;
    }

    .inside-nav {
        display: none;
    }

    .exit {
        display: none;
    }
    
    .meet-md{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    /* .up-aside {
        flex-direction: column;
        display: grid;
        justify-content: start;
    } */


    /* .presenter-name {
        width: 96px;
        height: 33px;
    } */

    .aside-date {
        padding: 2px;
        height: fit-content;
    }

    .aside-add-button {
        width: 20px;
        padding: 1px;
        height: 22px;
    }

    .aside-add-button img {
        height: 8px;
    }
}

@media (max-width: 991px) and (min-width: 769px) {
    .hide {
        display: none;
    }

    .show {
        display: flex;
    }
}