body {
    font-family: "Source Sans 3", serif !important;
    color: #F2F2F2 !important;
}

.pointer {
    cursor: pointer;
}

/* colors */
.orange {
    background-color: #F77219;
}

.white {
    background-color: #F2F2F2;
}

.grey {
    background-color: #a5a5a5;
}

.black {
    background-color: #070614;
}

/* font*/
.title-24 {
    font-size: 24px;
    letter-spacing: 0.5px;
}

.text-16 {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.text-12 {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.bold {
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* header */
.logo {
    width: 175.48px;
    height: 32px;
    top: 42px;
    left: 42px;
}

/* .gradient{
    background: linear-gradient(174deg, white -205%, #070614 86%);
    padding: 8px;
    border-radius: 10px;
    width: 468px;
    height: 56px;
} */

.gradient-border {
    position: relative;
    width: 468px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(174deg, white -205%, #070614 86%);
    padding: 5px;
    box-shadow: inset 6px 6px 9px 0px #aba4a4b0;

}

.gradient-border::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    /* background: linear-gradient(34deg, #a5a5a5 28%, #070614 97%); */
    background: linear-gradient(45deg, #fffafa -172%, #070614 67%);
    z-index: -1;
}

.icon-boyut {
    width: 19px;
    height: 20px;
}

.icon-boyut1 {
    width: 17px;
    height: 18px;
}

.yellow-border {
    border: 2px solid #F77219;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset -4px -1px 7px 0px rgba(0, 0, 0, 0.5);
}

/* main */
.grey-border {
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 16px;
    /* width: 200px; */
    height: 945px;
    padding: 10px;
}

.banner {
    position: relative;
}
.banner-img{
    position: absolute;
    width: -webkit-fill-available;
}